.jobsPage{
    @include flex-jst_dC-al_dC();
    flex-direction: column;

    button{
        padding: 1rem;
        background-color: #0B7ACD;
        outline: none;
        border: none;
        color: #fff;
        transition:  0.2s ease;
        
        
    }
    button:hover{
        transform: scale(1.05);
        
    }
}